@use '@src/styles/typography' as t;

.container {
    padding: 32rem;
    font-family: google-sans-text;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--gray-200);
}

.typography> :global(.type) {
    border-bottom: 1rem solid var(--gray-200);
    padding-bottom: 16rem;
    margin-bottom: 16rem;
}

.title {
    font-family: google-sans-display;
    font-size: 32rem;
    font-weight: 600;
    margin-bottom: 32rem;
    color: var(--gray-100);
}

.typographyCopy {
    @include t.type(button-mono);
    display: inline-flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-left: 8rem;

    & button {
        position: relative;
        background: none;
        appearance: none;
        cursor: pointer;
        border: none;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8rem 8rem;
        gap: 32rem;
        border-radius: 4rem;
        background-color: var(--gray-400);

        & .label {
            display: inline-flex;
            align-items: center;
            gap: 16rem;
            transition: opacity 0.3s ease;
        }

        & .copyIcon {
            font-size: 48rem;
            line-height: 0 !important;
            transform: translateY(-50%);
        }

        &>.checkIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        &[data-copied='true'] {
            & .label {
                opacity: 0;
            }

            & .checkIcon {
                opacity: 1;
            }
        }
    }
}
