@use 'sass:map';
@use '@shared/scss/fonts/google-sans';
@use '@shared/scss/fonts/google-sans-display';
@use '@shared/scss/fonts/google-sans-text';
@use '@shared/scss/fonts/google-sans-mono';
@use '@shared/scss/fonts/material-symbols';

@mixin md-typefaces {
    --md-ref-typeface-brand: google-sans;
    --md-ref-typeface-plain: google-sans;
}

$type: (
    header-1: (font-family: google-sans-display,
        font-size: 124.8rem,
        line-height: 0.95,
    ),
    header-2: (font-family: google-sans-display,
        font-size: 96rem,
        line-height: 1.05,
    ),
    header-3: (font-family: google-sans-display,
        font-size: 76.8rem,
        line-height: 1.15,
    ),
    header-4: (font-family: google-sans-display,
        font-size: 86.4rem,
        line-height: 1.15,
    ),
    header-4-mono: (font-family: google-sans-mono,
        font-size: 67.2rem,
        line-height: 1.15,
    ),
    header-5: (font-family: google-sans,
        font-size: 48rem,
        line-height: 1.15,
    ),
    subheader-1: (font-family: google-sans-display,
        font-size: 48rem,
        line-height: 1.15,
    ),
    subheader-2: (font-family: google-sans-display,
        font-size: 36rem,
        line-height: 1.15,
    ),
    body: (font-family: google-sans-text,
        font-size: 48rem,
        line-height: 1.33,
    ),
    body-small: (font-family: google-sans-text,
        font-size: 36rem,
        line-height: 1.33,
    ),
    label: (font-family: google-sans,
        font-size: 36rem,
        line-height: 1.15,
    ),
    button: (font-family: google-sans-text,
        font-weight: 500,
        font-size: 40.8rem,
        line-height: 1.33,
    ),
    button-small: (font-family: google-sans-text,
        font-weight: 500,
        font-size: 32rem,
        line-height: 1.33,
    ),
    button-large: (font-family: google-sans-text,
        font-weight: 500,
        font-size: 48rem,
        line-height: 1.33,
    ),
    button-mono: (font-family: google-sans-mono,
        font-weight: 500,
        font-size: 31.2rem,
        line-height: 1.33,
    ),
    error-mono: (font-family: google-sans-mono,
        font-weight: 500,
        font-size: 55.2rem,
        line-height: 1.33,
    ),
    footnote: (font-family: google-sans-text,
        font-size: 72rem,
        line-height: 1.33,
    ),
    label-mono: (font-family: google-sans-mono,
        font-size: 52rem,
        line-height: 1.33,
    ),
);

@mixin type($name) {
    @each $styleKey, $styleValue in map.get($type, $name) {
        #{$styleKey}: #{$styleValue};
    }
}

@each $name, $props in $type {
    .type.#{$name} {
        @each $prop, $value in $props {
            #{$prop}: #{$value};
        }
    }
}