@use '@shared/scss/functions.scss' as f;
@use 'sass:map';

$font-family: 'google-sans';

$increment: 4rem;
$num-steps: 100;

// Spacing -- space-1 is 4px, space-2 is 8px, etc. -- up to space-100, which is 400px.
$space: (
);

@for $i from 1 through $num-steps {
    $current: (
        $i: $increment * $i
        );
    $space: map.merge($space, $current);
}

@mixin spacing-variables {
    @each $key, $value in $space {
        --space-#{$key}: #{$value};
    }
}
