node_modules/
.ruff_cache/
.venv/
.venv*/
venv/
__pycache__/
.next/
dist/
*.tsbuildinfo
.cache
.env
.env*
.DS_Store
.vscode/mise-tools/*
*.exe
.husky/tmp/*
*storybook.log
storybook-static
*.egg-info/
*.lock
*.lockb

!.gitkeep
skills/
!.agent/skills/
bunfig.toml