.dialog {
    // constrols the border radius
    --md-dialog-container-shape: var(--space-4);
    // controls the background color
    --md-dialog-container-color: var(--color-surface, var(--white-500));
    // controls the headline color
    --md-dialog-headline-color: var(--color-on-surface, var(--gray-850));
    // controls the supporting text color
    --md-dialog-supporting-text-color: var(--color-on-surface, var(--gray-850));

    &.fullScreen {
        width: calc(var(--viewport-width) * 1rem);
        aspect-ratio: var(--viewport-width)/var(--viewport-height);
        transform: translate(calc((100svw - 100%) / 2), calc((100svh - 100%) / 2));
        height: calc(calc(var(--viewport-width)) / calc(var(--viewport-width) / var(--viewport-height)) * 1rem);
        max-height: unset;
        max-width: unset;
        --md-dialog-container-shape: 0;
    }

    div[slot="content"] {
        padding: var(--space-4);
    }

    div[slot="actions"] {
        padding: var(--space-4);
    }

    div[slot="headline"] {
        padding: var(--space-4);
    }
}
