@use 'google-noto-emoji' as *;

@include inject-emoji-font('google-sans');

@font-face {
    font-family: google-sans;
    src:
        url('/fonts/google-sans/GoogleSans-Regular.woff2') format('woff2'),
        url('/fonts/google-sans/GoogleSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: google-sans;
    src:
        url('/fonts/google-sans/GoogleSans-Italic.woff2') format('woff2'),
        url('/fonts/google-sans/GoogleSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: google-sans;
    src:
        url('/fonts/google-sans/GoogleSans-Medium.woff2') format('woff2'),
        url('/fonts/google-sans/GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: google-sans;
    src:
        url('/fonts/google-sans/GoogleSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/google-sans/GoogleSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: google-sans;
    src:
        url('/fonts/google-sans/GoogleSans-Bold.woff2') format('woff2'),
        url('/fonts/google-sans/GoogleSans-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: google-sans;
    src:
        url('/fonts/google-sans/GoogleSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/google-sans/GoogleSans-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}