@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url('/fonts/material-symbols/MaterialSymbolsOutlined.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('/fonts/material-symbols/MaterialSymbolsRounded.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    src: url('/fonts/material-symbols/MaterialSymbolsSharp.woff2') format('woff2');
    font-display: block;
}