/* GRADIENTS (WIP) */
$blue-white: -webkit-linear-gradient(0deg, var(--blue-200) 0%, var(--blue-600) 100%);
$blue-white-four: linear-gradient(129deg, var(--blue) 0%, var(--cyan) 29%, var(--blue-200) 67%, var(--white) 100%);

@mixin text-gradient-blue-white {
    background: $blue-white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // -webkit-text-fill-color: transparent;
}

@mixin gradient-border-mask {
    display: flow-root;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid transparent;
        background: $blue-white-four border-box;
        mask:
            linear-gradient(var(--white) 0 0) padding-box,
            linear-gradient(var(--white) 0 0);
        -webkit-mask:
            linear-gradient(var(--white) 0 0) padding-box,
            linear-gradient(var(--white) 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }
}