@use '@src/styles/mixins' as m;

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    user-select: none;
    vertical-align: middle;
    width: var(--icon-size, #{m.px(16)});
    height: var(--icon-size, #{m.px(16)});
}
