.fixedViewportWrapper {
    --vh: var(--viewport-height) / 100rem;
    --vw: var(--viewport-width) / 100rem;
    width: 100svw;
    height: 100svh;
    background-color: var(--internal-letterbox-background, var(--letterbox-background));
    contain: paint;
}

.fixedViewport {
    position: relative;
    background-color: var(--internal-viewport-background, var(--viewport-background));
    transform: translate(calc((100svw - 100%) / 2), calc((100svh - 100%) / 2));
    width: calc(var(--viewport-width) * 1rem);
    aspect-ratio: var(--viewport-width) / var(--viewport-height);
    box-shadow: 0px 0px 50rem 15rem rgba(0, 0, 0, 0.35);

    &>div {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: clip;
    }
}
