@use '@src/styles/mixins' as m;
@use '@src/styles/typography.scss' as t;
@use '@src/styles/variables.scss' as v;

.trigger {
    height: var(--space-20);
    width: var(--space-40);
    z-index: 9998;
    border: none;
    background: transparent;
    @include m.attach-to-edge(top-left);

    &[data-location='top-left'] {
        @include m.attach-to-edge(top-left);
    }

    &[data-location='top-center'] {
        @include m.attach-to-edge(top-center);
    }
}

.triggerOutside {
    height: var(--space-20);
    width: var(--space-40);
    z-index: 9999;
    border: none;
    background: transparent;

    @include m.attach-to-edge(top-left);
    position: fixed;

    &[data-location='top-left'] {
        @include m.attach-to-edge(top-left);
        position: fixed;
    }

    &[data-location='top-center'] {
        @include m.attach-to-edge(top-center);
        position: fixed;
    }

}

.elevation {
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.wrapper {
    inset: 0;
    position: absolute;
    padding: m.px(100);
    z-index: 10000;
    // box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    user-select: initial;

    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    // --settings-primary-white: var(--blue);
    --settings-light-grey: var(--gray-100);
    --settings-medium-grey: var(--gray-200);
    --settings-dark-grey: var(--gray-900);
    --settings-border-grey: var(--gray-800);
    --settings-divider-grey: var(--gray-600);
    --md-sys-color-on-background: var(--white);
    --md-sys-primary: var(--white);
    --md-sys-on-primary: var(--pink);
    --md-sys-primary-container: var(--pink);

    --md-sys-color-primary: var(--white);
    // --button-foreground: var(--white);

    border: solid m.px(2) white;
    border-radius: m.px(30);
    background-color: var(--black);
    color: var(--md-sys-color-on-background);

    height: 100%;
    position: relative;
    padding: m.px(40);

    --md-elevation-level: 1;

    &:hover,
    &:focus-visible,
    &:focus-within {
        --md-elevation-level: 3;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}



.scrollingArea {
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;
    flex-grow: 1;

    container-type: size;
}

.inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 100%;
    min-height: 0;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    gap: m.px(40);
    padding-top: m.px(60);
    padding-bottom: m.px(50);
    // padding: 80rem;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: m.px(400);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: m.px(10);
    padding: m.px(20);
    align-self: stretch;
    // background-color: var(--settings-dark-grey);
    background-color: #252525;
}


.columnGrow {
    @extend .column;
    flex-grow: 1;
    flex-shrink: 1;
}


@container (aspect-ratio <=1) {
    .inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .column {
        height: unset;
        min-height: unset;
        max-height: unset;
        width: unset;
    }

    .columnGrow {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--button-foreground);

    &:not(:first-child) {
        padding-top: var(--space-4);
    }
}

.header {
    top: -1rem;
    left: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    padding-bottom: m.px(20);

    padding-bottom: 0;
    background: transparent;
    color: var(--md-sys-color-primary);
    z-index: 10;
    border: none;
    appearance: none;
    border-radius: var(--space-1);

    outline: none;

    &[data-collapsible="true"] {
        cursor: pointer;
    }
}

.headerInner {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-2);
}

.headerIcon {
    --icon-size: var(--space-4);
    transform: rotate(90deg);
    border-radius: 9999px;

    height: var(--space-8);
    aspect-ratio: 1;

    [data-expanded='true'] & {
        transform: translateY(m.px(-2)) rotate(-90deg);
    }

    .header:hover & {
        background-color: var(--md-sys-color-surface-container-low);
    }

    .header:focus-visible & {
        outline: m.px(2) solid var(--md-sys-color-secondary);
    }

    &>md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header h3 {
    @include t.type(header-5);
    margin: 0;
}

.settingsTitle {
    position: absolute;
    top: m.px(25);
    left: m.px(40);
    @include t.type(header-4);
}

.logoBug {
    position: absolute;
    bottom: m.px(32);
    right: m.px(40);
    @include t.type(subheader-2);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: m.px(20);

    span {
        margin-top: m.px(4);
    }

    svg {
        height: m.px(25);
        width: auto;
    }
}

.closeButton {
    position: absolute;
    top: m.px(22);
    right: m.px(40);
    @include t.type(header-5);
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    // padding: var(--space-3);
    height: var(--space-10);
    width: var(--space-10);
    aspect-ratio: 1;
    z-index: 10000;
    --md-sys-color-primary: var(--md-sys-color-surface);
    --md-sys-color-on-primary: var(--md-sys-color-on-surface);
    border-radius: 9999px;
}

.expandButton {
    @include t.type(header-5);
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: var(--space-1);
}

.content {
    overflow-y: auto;
    scrollbar-width: none;
    flex-grow: 1;
    min-height: 0;
}

.contentInner {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-2);
    padding-top: var(--space-5);
    height: 100%;
}

.setting {
    display: flex;
    align-items: center;
}

.settingLabel {
    @include t.type(label);
    align-items: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    width: 100%;

    &:has(md-switch) {
        flex-direction: row;
        align-items: center;
        gap: var(--space-3);

    }
}


.resetButton {
    justify-self: flex-end;
    margin-top: auto;
}