@use '@src/styles/typography' as t;
@use '@src/styles/mixins' as m;

.wrapper {
    --toolbar-horizontal-padding: var(--space-10);
    --scroll-shadow-color: var(--md-sys-color-surface-container);
    --scroll-shadow-size: var(--space-20);
    --icon-size: var(--space-10);
    --toolbar-gap: var(--space-3);
    --md-sys-elevation-level: 3;

    position: relative;
    background-color: var(--md-sys-color-surface-container);
    border: m.px(2) solid var(--md-sys-color-surface-container);
    border-radius: var(--space-2);
    overflow: hidden;
    max-width: min(calc(var(--viewport-width) * 1rem - var(--space-10)), m.px(1000));
    max-height: min(calc(var(--viewport-height) * 1rem - var(--space-10)), m.px(1000));

}

.scrollButton {
    content: '';

    pointer-events: none;
    position: absolute;
    transition: opacity 0.3s ease;
    z-index: 20;
    border-radius: inherit;
    display: flex;
    align-items: center;

    &::before,
    &::after {
        content: '';
    }
}

.scrollButtonInner {
    display: flex;
    background-color: var(--scroll-shadow-color);
    align-items: center;
    padding: var(--space-2);

    &>* {
        pointer-events: all;
    }
}

.top,
.bottom {
    & .scrollButton {
        top: 0;
        height: 100%;
        flex-direction: row;
    }

    & .scrollButtonInner {
        height: 100%;
    }

    & .scrollButton.start {
        left: -1rem;
    }

    & .scrollButton.end {
        right: -1rem;
    }

    & .scrollButton.start::after {
        transform: translateX(-1rem);
        height: 100%;
        width: var(--scroll-shadow-size);
        background: linear-gradient(to right, var(--scroll-shadow-color), transparent);
    }

    & .scrollButton.end::before {
        transform: translateX(1rem);
        height: 100%;
        width: var(--scroll-shadow-size);
        background: linear-gradient(to left, var(--scroll-shadow-color), transparent);
    }

}

.right,
.left {
    & .scrollButton {
        left: 0;
        width: 100%;
        flex-direction: column;
    }

    & .scrollButtonInner {
        width: 100%;
        flex-direction: column;
    }

    & .scrollButton.start {
        top: 0;
    }

    & .scrollButton.end {
        bottom: 0;
    }

    & .scrollButton.start::after {
        transform: translateY(-1rem);
        width: 100%;
        height: var(--scroll-shadow-size);
        background: linear-gradient(to bottom, var(--scroll-shadow-color), transparent);
    }

    & .scrollButton.end::before {
        transform: translateY(1rem);
        width: 100%;
        height: var(--scroll-shadow-size);
        background: linear-gradient(to top, var(--scroll-shadow-color), transparent);
    }
}


.toolbar {
    position: relative;
    overflow: hidden;
    scrollbar-width: none;

    max-width: inherit;
    max-height: inherit;
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    border-radius: inherit;

}


.toolbarInner {
    position: relative;
    display: flex;
    align-items: center;
    min-width: fit-content;
    min-height: fit-content;
    padding: var(--space-4) var(--toolbar-horizontal-padding);
}

.entryWrapper {
    flex-shrink: 0;
}

.entryInner {
    min-width: fit-content;
    min-height: fit-content;
}

.top {
    @include m.attach-to-edge(top, var(--toast-offset, var(--space-3)));
}

.bottom {
    @include m.attach-to-edge(bottom, var(--toast-offset, var(--space-3)));
    justify-content: flex-end;
}

.top,
.bottom {

    & .toolbar {
        overflow-x: auto;
    }


    & .toolbarInner {
        flex-direction: row;
    }

    & .entryInner {
        padding: 0 calc(var(--toolbar-gap) / 2);
    }
}

.right {
    @include m.attach-to-edge(right, var(--toast-offset, var(--space-3)));
}

.left {
    @include m.attach-to-edge(left, var(--toast-offset, var(--space-3)));
}

.right,
.left {

    & .toolbar {
        overflow-y: auto;
    }


    & .toolbarInner {
        flex-direction: column;
    }

    & .entryInner {
        padding: calc(var(--toolbar-gap) / 2) 0;
    }
}
