@use './variables.scss';
@use './typography.scss';
@use './mixins' as m;

:root {
    @include variables.spacing-variables;
    @include typography.md-typefaces;
    --px: 2rem;
    --md-sys-globalscale: var(--px);

    --md-circular-progress-four-color-active-indicator-one-color: var(--blue);
    --md-circular-progress-four-color-active-indicator-two-color: var(--green);
    --md-circular-progress-four-color-active-indicator-three-color: var(--yellow);
    --md-circular-progress-four-color-active-indicator-four-color: var(--red);
}

body {
    font-family: google-sans-text;
    font-weight: 400;
    user-select: none;

    &>* {
        color: var(--white);
        font-size: #{m.px(16)};
        -webkit-tap-highlight-color: transparent;
    }
}

a {
    text-decoration: underline;
    color: hotpink;
}

img,
svg,
video,
iframe {
    width: 100%;
    height: auto;
    display: block;
}

div {
    background-repeat: no-repeat;
    background-size: contain;
}

img:not([src]) {
    visibility: hidden;
}