@function px($n) {
    @return calc(#{$n} * var(--px));
}

@mixin container($margin: var(--grid-margin)) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 $margin;
}

@mixin grid($column-count: var(--grid-columns), $gutter: var(--grid-gutter)) {
    display: grid;
    grid-template-columns: repeat($column-count, 1fr);
    gap: $gutter;
}

@mixin attach-to-edge($side: bottom, $offset: 0) {
    position: absolute;

    @if $side ==bottom {
        bottom: $offset;
        left: 50%;
        translate: -50% 0;
    }

    @else if $side ==top {
        top: $offset;
        left: 50%;
        translate: -50% 0;
    }

    @else if $side ==left {
        left: $offset;
        top: 50%;
        translate: 0 -50%;
    }

    @else if $side ==right {
        right: $offset;
        top: 50%;
        translate: 0 -50%;
    }

    @else if $side ==bottom-left {
        bottom: $offset;
        left: $offset;
    }

    @else if $side ==bottom-right {
        bottom: $offset;
        right: $offset;
    }

    @else if $side ==top-left {
        top: $offset;
        left: $offset;
    }

    @else if $side ==top-right {
        top: $offset;
        right: $offset;
    }

    @else if $side ==top-center {
        top: $offset;
        left: 50%;
        translate: -50% 0;
    }
}